body {
    margin: 30px;
    background-color: hsl(0, 0%, 98%);
    color: #333;
}

form {
    max-width: 500px;
    box-sizing: border-box;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
label {
    text-align: right;
}

#status {
    width:300px;
    max-height: 300px;
    overflow: scroll;
    border: 1px solid black;
    margin-left: 50px;
    float:left;
}
#map {
    float: left;
    min-height: 600px;
    width: 600px;
    border: 1px solid black;
}